<h1 class="title is-4">Sitewide Announcements</h1>

<hr />

<form method="POST" action="/admin/announcement">
    <input type="hidden" id="csrfToken" name="_csrf" value="{{csrfToken}}" />
    <div class="field">
        <label class="label">Title</label>
        <div class="control is-expanded">
            <input class="input" name="title" placeholder="Announcement Title" />
        </div>
    </div>
    <div class="field">
        <label class="label">Content (Markdown Supported)</label>
        <div class="control is-expanded">
            <textarea class="textarea" name="content" placeholder="This is an announcement!" required></textarea>
        </div>
    </div>
    <button class="button low-jump" type="submit">Send Announcement!</button>
</form>

<hr />

<p>Powered by <a href="https://euler.joy.integirls.org" target="_blank">Euler</a>.</p>