{{#if requested}}
<div class="notification is-danger is-light">
    You must be logged in to access <code>{{path}}</code>.
</div>
{{/if}}

{{#if loginFailure}}
<div class="notification is-danger is-light">
    Login failed. Please try again.
</div>
{{/if}}

<form action="/account/login" method="POST">
    <div class="field">
        <label class="label">Team Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="team_999" name="name" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="********" name="password" required>
        </div>
    </div>

    {{#if requested}}
    <input class="input is-hidden" type="text" name="redirectURL" value="{{path}}" required>
    {{/if}}

    <label class="checkbox">
        <input type="checkbox" name="remember">
        Remember me
    </label>

    <button class="button is-pulled-right g-recaptcha" data-sitekey="{{captcha}}" data-callback='onSubmit'
        data-action='submit'>Login</button>
</form>

{{#extend "foot-inject"}}
<script src="https://www.google.com/recaptcha/api.js" defer></script>
<script>
    function onSubmit(token) {
        document.querySelector("form").submit();
    }
</script>
{{/extend}}