<form action="/account/create" method="POST">
    <div class="field">
        <label class="label">Team Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="team_999" name="name" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="********" name="password" required>
        </div>
    </div>

    <button class="button is-pulled-right g-recaptcha" data-sitekey="{{captcha}}" data-callback='onSubmit'
        data-action='submit'>Create Account</button>
</form>

{{#extend "foot-inject"}}
<script src="https://www.google.com/recaptcha/api.js" defer></script>
<script>
    function onSubmit(token) {
        document.querySelector("form").submit();
    }
</script>
{{/extend}}