<form action="/api/account/create" method="POST">
    <div class="field">
        <label class="label">Team Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="team_999" name="name" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="********" name="password" required>
        </div>
    </div>

    <button class="button is-brand is-pulled-right" type="submit">Create Account</button>
</form>