<div class="footer">
  <div class="content container">
    <a id="copyright">&copy;2020 inteGIRLS Inc.<br /></a>
    <p id="serverStat" class="hidden"></p>
    <span><strong>Infinity ∞</strong> is <a href="https://github.com/itsmingjie/infinity/">open-source</a> under the <a
        href="https://github.com/itsmingjie/infinity/blob/main/LICENSE">MIT
        License</a>.</span>
  </div>
</div>

{{#extend "foot-inject"}}
<script src="/assets/scripts/footer.js" type="text/javascript" defer></script>
{{/extend}}