<div class="footer">
  <div class="content container">
    <a id="copyright">&copy;2020 inteGIRLS Inc. {{global.gameName}}<br /></a>
    <p id="serverStat" class="hidden"></p>
    <span>Powered by <strong>Infinity ∞</strong>, an <a href="https://github.com/itsmingjie/infinity/">open-source</a>
      platform
      [<a href="https://github.com/itsmingjie/infinity/blob/main/LICENSE">MIT
        License</a>].</span>
  </div>
</div>

<script src="/assets/scripts/footer.js" type="text/javascript" defer></script>