<div class="footer">
  <div class="content container has-text-centered">
    <p class="mb-1"><strong>&copy;2020 inteGIRLS.</strong></p>
    <p class="help mb-1">Powered by <a href="https://github.com/itsmingjie/infinity/" target="_blank"><strong>Infinity ∞</strong></a>, made by <a href="https://github.com/itsmingjie" target="_blank">@itsmingjie</a> and open-source under the MIT License.</p>
    <p class="help"><a href="https://github.com/itsmingjie/infinity#bug-reporting" target="_blank">Bug Report</a> &middot; <a href="/page/credits">Credits</a></p>
  </div>
</div>

<script src="/assets/scripts/footer.js" type="text/javascript" defer></script>