<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/infinity.png">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      {{#if team}}
        <a class="navbar-item" href="/game">
          Puzzles
        </a>
      {{/if}}
      <a class="navbar-item" href="/leaderboard">
        Leaderboard
      </a>
      {{#if team}}
        <a class="navbar-item" href="/announcements">
          Announcements
        </a>
      {{/if}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Resources
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/page/rules">
            Rules
          </a>
          <a class="navbar-item" href="/guide.pdf">
            Guide
          </a>
          <a class="navbar-item" href="/page/stuck">
            Stuck?
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      {{#if team}}
        <div class="navbar-item">
          Hints Left: {{team.hint_credit}}
        </div>
        <div class="navbar-item">
          Score: {{team.score}}
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link is-light">
            {{#if team.isAdmin}}{{>adminSymbol}}{{/if}}{{team.name}}
          </span>
          <div class="navbar-dropdown">
            {{#if team.isAdmin}}
              <a class="navbar-item" href="/admin">
                Admin
              </a>
            {{/if}}
            <a class="navbar-item" href="/account">
              Edit Team
            </a>
            <a class="navbar-item" href="/account/logout">
              Log Out
            </a>
          </div>
        </div>
      {{else}}
        {{#unless global.registrationLockdown}}
          <a class="navbar-item" href="/account/register">
            Sign up
          </a>
        {{/unless}}
        <a class="navbar-item" href="/account/login">
          Log in
        </a>
      {{/if}}
    </div>
  </div>
</nav>