<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/infinity.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/game">
        Puzzles
      </a>
    </div>


    <div class="navbar-end">
      {{#if team}}
      <div class="navbar-item">
        Score: {{team.score}}
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-light" href="/team">
          {{#if team.isAdmin}}{{>adminSymbol}}{{/if}}{{team.name}}
        </a>
        <div class="navbar-dropdown">
          {{#if team.isAdmin}}
          <a class="navbar-item" href="/admin">
            {{>adminSymbol}}Admin
          </a>
          {{/if}}

          <a class="navbar-item" href="/logout">
            Log Out
          </a>
        </div>
      </div>
      {{else}}
      <a class="navbar-item" href="/register">
        Sign up
      </a>
      <a class="navbar-item" href="/login">
        Log in
      </a>
      {{/if}}
    </div>
  </div>
</nav>