{{#eq environment "development"}}
<div class="env-sticker development">
    DEVELOPMENT MODE
</div>
{{/eq}}

{{#eq environment "staging"}}
<div class="env-sticker staging">
    STAGING MODE
</div>
{{/eq}}

{{#eq environment "testing"}}
<div class="env-sticker testing-session report" style="left: 0px; bottom: 0px; user-select: unset; -webkit-user-drag: all; pointer-events: all; padding: 0.4rem 1rem">
    <a href="#!" id="report-bug"><img src="/assets/images/report.png" width="80px" /></a>

    <script>
        document.getElementById("report-bug").addEventListener('click', () => {
            window.location.href = `https://airtable.com/shr4vHiLzAVNNi2ow?prefill_UUID={{../team.id}}&prefill_Team%20Name={{../team.name}}&prefill_UA=${navigator.userAgent}&prefill_Path=${window.location.pathname}`
        })
    </script>
</div>
{{/eq}}