{{#eq environment "development"}}
<div class="env-sticker development">
    DEVELOPMENT MODE
</div>
{{/eq}}

{{#eq environment "staging"}}
<div class="env-sticker staging">
    STAGING MODE
</div>
{{/eq}}