{{{ message }}}
<hr />
<p>If you believe this is a technical issue, please contact tech at <a
        href="mailto:{{global.techEmail}}">{{global.techEmail}}</a>.</p>

{{#unless noback}}
<a class="button mt-5 low-jump" href="javascript:window.location.href = document.referrer">Go Back</a>
{{/unless}}