<form action="/api/account/create" method="POST">
    <input class="input" type="text" placeholder="Team Name" name="name">
    <input class="input" type="password" name="password">

    <button class="button" type="submit">Create Account</button>
</form>