<tr id="{{prop}}">
  <td>{{{label}}}</td>
  <td>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" data-prop="{{prop}}" value="true" {{#if (lookup global prop)}}checked{{/if}}>
          <strong>{{{text}}} &mdash; {{#if bypass}}* this lockdown is bypassable by admins.{{/if}}</strong>
        </label>
      </div>
    </div>
  </td>
</tr>