<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="/admin">Dashboard</a></li>
  </ul>
  <p class="menu-label">
    Utilities
  </p>
  <ul class="menu-list">
    <li><a href="/admin/flaggen">Flag Generator</a></li>
  </ul>
</aside>