<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/lockdown">Lockdown</a></li>
    <li><a href="/admin/customization">Customization</a></li>
    <li><a href="/admin/puzzles">Puzzles</a></li>
    <li><a href="/admin/hints">Hint Credits</a></li>
    <li><a href="/admin/teams">Team Management</a></li>
  </ul>
  <p class="menu-label">
    Communication
  </p>
  <ul class="menu-list">
    <li><a href="/admin/announcement">Announcement</a></li>
    <li><a href="/admin/alert">Alert Team</a></li>
  </ul>
  <p class="menu-label">
    Utilities
  </p>
  <ul class="menu-list">
    <li><a href="/admin/logs">Action Logs</a></li>
    <li><a href="/admin/flaggen">Flag Generator</a></li>
  </ul>
</aside>