@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

@import '../node_modules/bulma/sass/utilities/functions.sass';

$family-sans-serif: 'Recursive', sans-serif;

$dark: #121217;
$link: #719df0;

// Yosemite Gradient
$gradient-start: #ea8d8d;
$gradient-end: #a890fe;
$yosemite: linear-gradient(45deg, $gradient-start 0%, $gradient-end 100%);

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Content {
  flex: 1;

  p {
    margin-bottom: 1rem;
  }
}

.is-hint {
  font-size: small;
  font-style: italic;
  color: gray;
}

.is-brand {
  background: $yosemite;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;

  &.button {
    font-weight: bold;
    color: #fff !important;
  }

  &.hero {
    margin-bottom: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #fff;
    }

    &.is-fullheight {
      margin-bottom: 0;
    }
  }
}

button.button,
a.button {
  font-weight: 600;
  margin-top: 7px;
  border: none;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;

  &:hover {
    background: $yosemite;
    box-shadow: 0 15px 20px rgba(234, 141, 141, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  &.is-fullwidth {
    width: 100%;
  }
}

.field {
  margin-bottom: 1.5rem;

  label {
    .is-danger {
      color: red;
      font-weight: bold;
    }
  }
}

td .field {
  margin-bottom: 0;
}

.control .button,
.button.noFloat {
  margin-top: 0;

  &:hover {
    transform: none;
  }
}

div.navbar-dropdown {
  border-radius: 4px;
}

.adminOnly::before {
  content: 'Warning: The following area is admin only. Be extra careful with the information and the controls!';
  color: orange;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.adminOnly {
  background: rgba(255, 165, 0, 0.1);
  border: 3px dotted orange;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

div.footer {
  padding-bottom: 3em;
  margin-top: 2em;

  .hidden {
    display: none;
  }

  #copyright {
    font-weight: 600;
    color: #4a4a4a !important;
    cursor: default;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  #copyright:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }

  #serverStat {
    font-size: 14px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cards {
  .card {
    margin-bottom: 2rem;
    border-radius: 4px;
    transition: all 0.3s ease 0s;

    &:not(.locked):hover {
      box-shadow: 0 15px 20px rgba(234, 141, 141, 0.4);
      transform: translateY(-7px);
    }

    &.locked {
      filter: grayscale(1);
      user-select: none;
    }

    .card-header {
      border-radius: 4px;
      box-shadow: none;
      color: #fff;

      .card-header-title {
        color: #fff;
      }
    }

    .card-footer-item {
      font-weight: bold;
    }
  }
}

table {
  td {
    vertical-align: middle !important;
  }

  td:nth-child(1) {
    font-weight: 800;
    width: 20%;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  box-shadow: 0 15px 20px rgba(234, 141, 141, 0.4);
  border-radius: 10px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

form#submission {
  margin-top: 2rem;
}

div.formattedText {
  p {
    font-size: 1em;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    font-size: 1.8rem;
  }

  ul,
  li {
    margin-left: 2rem;
    padding-left: 0;
  }
}

@import '../node_modules/bulma/bulma.sass';
